<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table border="1">
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ゲーム名</td><td><%= data.name %></td></tr>
    <tr><td>開発元</td><td><%= data.kaihatu %></td></tr>
    <tr><td>リリース日</td><td><%= data.ririsu %></td></tr>
  </table>
  <a href="/game/edit/<%= id %>">編集</a>
  <a href="/game">好きなゲーム一覧に戻る</a>
</body>
</html>